extends layout 
block content
    #calendarContainer
    script
      var parent = $('#calendarContainer'),
          createUrlLibrarian = function () {
            var previousImageSrc, nextImageSrc;
            previousImageSrc = 'http://www.usatf.org/CMSWebparts/Viewers/iCarouselGallery_files/images/prev.gif';
            nextImageSrc = 'http://www.usatf.org/CMSWebparts/Viewers/iCarouselGallery_files/images/next.gif';
            return {PreviousImage: previousImageSrc, NextImage : nextImageSrc};
          };
      $(function () {
        productSpecificationsCalendar(createUrlLibrarian()).renderCalendar(parent, 'CL', [2011, 2012, 2013, 2014, 2015]);
      });