extends layout 
block content
    #calendarContainer
    script
        $(function () {
            var urlLibrarian = {PreviousImage: 'http://www.usatf.org/CMSWebparts/Viewers/iCarouselGallery_files/images/prev.gif', NextImage : 'http://www.usatf.org/CMSWebparts/Viewers/iCarouselGallery_files/images/next.gif'};
            productSpecificationsCalendar(urlLibrarian).renderCalendar($('#calendarContainer'), 'CL', 2013);
        });